@import url('https://fonts.googleapis.com/css?family=Ms+Madi|Oswald|Josefin+Sans:300,400|Aboreto|Marcellus|Bodoni+Moda|Italiana|Antic+Didone|Cormorant+SC|Noto+Serif+Display|Licorice|Meow+Script|Allura|Alex+Brush');

:root {
    --main-text-color: #343434;
    --peach-color: #ffd5cb;
    --forest-color: #203123;
    --leaf-color: #56612f;
    --white-color: #f2f2f2;
    --gold-color: #d7c791;
    --teal-color: #8f9f91;
    --skin-color: #f6e6e1;
    --cream-color: #fbf1e3;
}

@viewport{
    zoom: 1.0;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: var(--main-text-color);
    scroll-behavior: smooth;
    position: relative;
    caret-color: transparent;
}

body {
    margin: 0 0 0 0;
    background-image: url("assets/75800-white.jpg");
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: 1024px; /* Resize the background image to cover the entire container */
    overflow-x: hidden;
    position: relative;
    height: auto;
    width: auto;
}

/******************/
/* Navigation bar */
/******************/

nav {
    background-color: var(--white-color);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    z-index: 99;
}

.menu-list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    white-space: nowrap;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 75%;
    max-width: 900px;
    min-width: 724px;
}

.menu-list-item {
    display: relative;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    line-height: 50px;
    padding: 0;
    min-width: 90px;
    width: fit-content;
    margin: 0 1% 0 1%;
}

.menu-list-item a {
    display: block;
    cursor: pointer;
}

.menu-list-item:hover a {
    text-decoration: none;
    color: rgba(153, 153, 153, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

 /* Dropup menu button */

.dropbtn {
    border: none;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'Josefin Sans', serif;
    font-weight: 300;
    font-size: 2em;
    letter-spacing: 2px;
    color: var(--main-text-color);
    background-color: var(--white-color);
}

.dropup {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

/* Dropup content (hiddent by default) */

.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  width: 100%;
  min-width: 160px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  z-index: 1;
}

/* Links inside the dropup */

.dropup-content a.hyperlink {
  color: black;
  padding: 12px 16px;
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
  display: block;
}

/* Change color of dropup links on hover */

.dropup-content a.hyperlink:hover {
    background-color: var(--teal-color);
    color: var(--white-color);
}

/* Show the dropup menu on hover */

.dropup:hover .dropup-content {
  display: block;
  background-color: var(--white-color);
}

/* Change the background color of the dropup button when the dropup content is shown */

.dropup:hover .dropbtn {
  background-color: var(--teal-color);
  color: var(--white-color);
} 

@media(min-width: 480px) {
    .menu-list-item { display: inline-block; }
    .menu-list-item a { min-width: 90px; }
}

@media (max-width: 720px) {
    nav {
        display: none;
    }
    .dropup {
        display: inline-block;
    }
}

/*******************/
/* Text formatting */
/*******************/

.names {
    text-align: center;
    font-family: 'Aboreto', serif;
    font-size: 4.5em;
    font-variant: small-caps;
    color: var(--teal-color);
    line-height: 0.9em;
    letter-spacing: 0.1em;
}

.names .et {
    font-family: Ms Madi;
    font-size: 0.5em;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    /*display: inline;*/
}

h1 {
    font-family: 'Ms Madi';
    font-size: 3em;
    font-variant: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: var(--main-text-color);
}

p, q {
    letter-spacing: 0.05em;
    font-size: 1.2em;
}

q:before { 
    content: open-quote;
    font-weight: 200;
    font-size: 0.8em;
} 

q:after { 
    content: close-quote;
    font-weight: 200;
    font-size: 0.8em;
}

a.hyperlink {
    color: var(--main-text-color);
    text-decoration: none;
}

a.hyperlink:hover {
    color: var(--teal-color);
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.middle {
    position: relative;
    color: var(--main-text-color);
    text-decoration: none;
}

.middle:hover {
    color: var(--main-text-color);
}

.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 5px;
  left: 0;
  background-color: var(--main-text-color);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.middle:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

::selection {
  background-color: var(--teal-color);
  color: var(--white-color); 
}

::-moz-selection {
  background-color: var(--teal-color);
  color: var(--white-color); 
}

.digit {
  font-size: 0.73em;
}

.date {
  font-family: 'Aboreto';
  font-size: 2em;
  line-height: 0.2em;
  letter-spacing: 0.05em;
  margin: 1em 0 1em 0;
  text-align: center;
}

.nowrap {
    white-space: nowrap;
}

@media (max-width: 918px) {
    .date {
        font-size: 8vw;
    }
}

/***************/
/* Splash page */
/***************/

#splash {
    height: 100vh;
    width: 100vw;
    margin: 0 0;
    background-color: transparent;
    position: relative;
}

#splash-name {
    text-align: center;
    background-color: transparent;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#splash-anchor {
    text-align: center;
    font-family: 'Aboreto', serif;
    font-size: 5.5em;
    font-variant: small-caps;
    color: var(--teal-color);
    line-height: 0.9em;
    letter-spacing: 0.1em;
    position: absolute;
    z-index: 99;
}

#splash-anchor .et {
    font-family: Ms Madi;
    font-size: 0.5em;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
}

#splash-decor {
    max-height: 100vh;
    max-width: 100vw;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 740px), (max-height: 730px) {
    #splash-name {
        width: 33vmin;
        height: 33vmin;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);       
    }
    #splash-anchor {
        font-size: 10vmin;
    }
}

/*
@media (max-width: 640px), (max-height: 640px) {
    #splash-name {
        width: 46vmin;
        height: 46vmin;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -23vmin;
        margin-left: -23vmin;        
    }
    #splash-anchor {
        font-size: 12.5vmin;
    }
}*/

#footer-image {
    background-color: transparent;
    background-image: url("assets/footer-bush.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 512px;
    margin: -512px 0 0 0;
    z-index: 1;
}

@media (min-width: 1950px) {
    #footer-image {
        display: none;
    }
}

/*******************/
/* Art Deco border */
/*******************/

.deco {
    border: 4px solid;
    border-color: var(--gold-color);
    background-color: var(--white-color);
    position: relative;
}

.deco:before, .deco:after {
    border: 2px solid;
    border-color: var(--gold-color);
}

.deco:before, .deco:after {
    content: "";
    position: absolute;  
}

.deco:before {
    top: -10px;
    right: 5px;
    bottom: -10px;
    left: 5px;
}

.deco:after {
    top: 5px;
    right: -10px;
    bottom: 5px;
    left: -10px;
}

@media (max-width: 720px) {

    .deco, .deco:before, .deco:after {
        border-left: none;
        border-right: none;
    }

}

/************/
/* Sections */
/************/

.text {
    padding: 0px 15% 20px 15%;
    font-size: 1.2em;
    text-align: left;
    text-indent: 2em;
}

.float {
    padding: 20px 15% 20px 15%;
}


.note {

    background-color: transparent;
    border: none;
    border-width: 2px;
    border-color: var(--main-text-color);
    margin: -20px 10% 10% 10%;
    text-align: center;

}

.note p {

    text-align: left;
    line-height: 1.5em;
    font-family: 'EB Garamond', 'Georgia', serif;
    font-variant: normal;
    z-index: 1;

}

.note li {

    text-align: left;
    margin: 1.5em 0 1.5em 0;
    line-height: 1.5em;
    font-size: 0.8em;
    font-family: 'EB Garamond', 'Georgia', serif;
    font-variant: normal;

}

.page {
    text-align: center;
    width: 75%;
    max-width: 900px;
    margin: 0 auto 60px auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 720px) {
    .accent {
        display: none;
    }
    .page {
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .note {
        border:none;
        padding: 0;
    }
    .float {
        padding: 10px 10px 10px 10px;
    }
}

@media (max-width: 512px) {
    .column {
        float: none;
        width: auto;
    }
}

/**********/
/* Images */
/**********/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.divider {
    width: 80%;
    max-width: 768px;
    top: -20x;
}

.ornament {
    width: 100px;
    display: inline;
    top: 20px;
}

/***********/
/* Buttons */
/***********/

/*button {
    color: var(--main-text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1em;
    font-variant: small-caps;
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--main-text-color);
    height: 2em;
    width: 4em;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px 0 10px 0;
}*/

/*.long {
    height: 2em;
    width: 5em;
}

button:hover {
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
}

button:active {
    color: var(--main-text-color);
    background-color: transparent;
}*/

/****************/
/* Embedded map */
/****************/

.map-responsive {
    overflow:hidden;
    position:relative;
    height: 480px;
    width: auto;
    border: solid;
    border-width: 1px;
    border-color: var(--main-text-color);
}

.map-responsive iframe {
    left:0;
    top:-15%;
    height:115%;
    width:100%;
    position:absolute;
    border-width: 0px;
    visibility: visible;
}

.map-responsive img {
    height:100%;
    width:100%;
    border-width: 0px;
    visibility: hidden;
}

@media (max-width: 940px) {
    .map-responsive {
        height: 50vw;
    }
    .map-responsive iframe {
        left:0;
        top:-25%;
        height:125%;
        width:100%;
        position:absolute;
        border-width: 0px;
    }
}

@media (max-width: 512px) {
    .map-responsive iframe {
        visibility: hidden;
    }
    .map-responsive img {
        visibility: visible;
    }
}

/*/////////*/
/* Gallery */
/*/////////*/

a.thumbnail, a.thumbnail:hover {
  text-decoration: none;
  background-color: unset;
  background: var(--main-bg-color);
  width: 100%;
}

img.thumbnail {
  width: 100%;
  transition: transform 2s, filter 4s ease-in-out;
  z-index: 0;
}

img.thumbnail:hover {
  /*transform: scale(1.1);*/
  filter: brightness(0.8);
  z-index: 0;
}

a.lightbox, a.lightbox:hover {
  /** Default lightbox to hidden */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 200ms, visibility 200ms;
  transition: opacity 200ms, visibility 200ms;
  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

a.lightbox img {
  /** Pad the lightbox image */
  max-width: 90vw;
  max-height: 90vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

a.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  visibility: visible;
  opacity: 1;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.photo-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.photo-column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.photo-column .responsive {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 720px) {
  .photo-column {
    flex: 100%;
    max-width: 100%;
  }
}